<!DOCTYPE html>

<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>登陆页面</title>

         <!--bootstrap、jquery-->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
    </head>
    <body>
        
    </body>
</html>